div#setctoc_out {
   max-height:400px;
    overflow:auto;
    font-size: 9.5pt;
}
    
#tocseltoggle{
    float:left; 
    padding-right:4px;
}

span.tocsel_title{
    font-size: 10pt;
    font-weight:bold;
}

.ihidden {
  list-style-type: none;
}

.dokuwiki .tocsel_right {
    width:16em;
    float: right;
    margin-left: 1em;
}
#selectoc_id {
    width:10em;
    font-size: 9.5pt;
}
#selectoc_btn {
   font-size: 8.5pt; 
}
.clicker {
      cursor: pointer;
      color:__link__;
}